/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cfd8dc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0bec5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #90a4ae;
}

* {
    font-family: 'Poppins', 'sans-serif';
}

.customModal {
    border-radius: 0.5rem;
    border: none;
    min-width: 42rem;
}

.customModal:focus {
    outline-width: 0px;
    border: none;
}